.header {
    border: 1px solid orange;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.header button {
    padding: 5px 10px;
}