.contact-form button {
    padding: 5px 10px;
}
.form-row {
    margin: 20px 0;
    width: 50%;
    display: flex;
    align-items: center;
}
.form-row label {
    width: 30%;
    display: inline-block;
}
.form-row input {
    width: 70%;
    padding: 5px;
}
.contact-save {
    margin-right: 1rem;
}
.preview {
    width: 150px;
}
.preview img {
    display: block;
    max-width:100%;
    max-height:100%;
}